body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
    margin: 0;
    padding: 0;
}

header {
    background-color: #004080;
    color: white;
    padding: 20px 0;
}

main {
    padding: 50px 20px;
}

button {
    padding: 12px 28px;           /* Größe */
    font-size: 16px;              
    font-weight: bold;
    color: white;                 
    background-color: #0055a4;    /* dunkleres Blau passend zur BB Notare Website */
    border: none;                 
    border-radius: 8px;           
    cursor: pointer;              
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* leichter Schatten */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s; 
}

button:hover {
    background-color: #0070d1;    /* helleres Blau beim Hover */
    transform: scale(1.05);       
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); /* Schatten verstärkt sich */
}

button:active {
    transform: scale(0.98);       
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1); /* kleinerer Schatten beim Klicken */
}


footer {
    background-color: #004080;
    color: white;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}


